body {
    background-color: #04A6EB;
    color: #FDFFaa;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #337AB7;
    border-color: #2E6DA4;
    border-style: none;
    color: #fff;
}

button:active{
    color: aqua;
}

input {
    height: 20px;
}
